/*
	styles.css es donde se guardan los estilos vinculados con la pagina
*/
body {
	font-family: Arial, Helvetica, sans-serif ;
}
img {
	max-width: 100% ;
	width: auto ;
	height: auto ;
}
input, select, button, textarea {
	max-width: 100% ;
}
meter, progress, output {
	max-width: 100% ;
}
div#tswsidecol {
	float: right;
	width: 20%;
	color: #000;
	background-color: #000000 ;
}
div#tswcontent {
	float: right;
	width: 80%;
	color: #000;
	background-color: #000000 ;
}
@media only screen and (max-width: 629px) {
	div#tswsidecol {
		float: none ;
		width: 100% ;
	}
	div#tswcontent {
		float: none ;
		width: 100% ;
	}
}
div#tswcontproper {
	padding-left: 5px ;
	padding-right: 5px ;
}
div#tswcontainer {
	color: inherit;
	background-color: #000000 ;
}
div#tswsideproper, div#tswothersideproper {
	padding-left: 5px ;
	padding-right: 5px ;
}
div#tswheader {
	color: #000;
	background-color: #000000 ;
}
